/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}

#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}

#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme='dark'] #footer::before {
  background: transparent !important;
}

[data-theme='dark'] #page-header::before {
  background: transparent !important;
}

:root {
  --trans-light: rgba(255, 255, 255, 0.88);
  --trans-dark: rgba(25, 25, 25, 0.88);
  --border-style: 1px solid rgb(169, 169, 169);
  --backdrop-filter: blur(5px) saturate(150%);
}

/* 首页文章卡片 */
#recent-posts .recent-post-item {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 25px;
  border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 18px;
  border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border: var(--border-style);
  border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: var(--backdrop-filter);
}

[data-theme='dark'] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme='dark'] #recent-posts .recent-post-item,
[data-theme='dark'] #aside-content .card-widget,
[data-theme='dark'] div#post,
[data-theme='dark'] div#archive,
[data-theme='dark'] div#page {
  background: var(--trans-dark);
}

/* 夜间模式页脚页头遮罩透明 */
[data-theme='dark'] #footer::before {
  background: transparent !important;
}

[data-theme='dark'] #page-header::before {
  background: transparent !important;
}

/* 禁用头像与图标的旋转 */
.avatar-img img:hover,
.card-info-social-icons i:hover {
  transform: rotate(0) !important;
}

/* 文字排版 */
body {
  text-autospace: normal; /* Butterfly 已包含，新版本发布后可删 */
  text-spacing-trim: normal; /* 标点挤压，但是 Firefox 不支持（恼） */
}
